*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    color: #fff;
    display: block;
    background: linear-gradient(111deg,rgba(175,137,243,1) 0,rgba(162,131,242,1) 17%,rgba(140,120,239,1) 35%,rgba(123,112,236,1) 50%,rgba(107,104,234,1) 70%,rgba(255,255,255,1) 70%) fixed;
}

.body-1{
    color: #fff;
    display: block;
    background: linear-gradient(111deg,rgba(251,251,254,1) 0,rgba(207,208,248,1) 9%,rgba(145,148,240,1) 26%,rgba(134,137,238,1) 50%,rgba(104,108,233,1) 70%,rgba(255,255,255,1) 70%) fixed;
}

.body-2{
    color: #fff;
    display: block;
    background: linear-gradient(111deg,rgba(12,12,14,1) 0,rgba(20,21,48,.9332107843137255) 16%,rgba(39,40,95,1) 35%,rgba(57,59,139,1) 58%,rgba(81,84,197,1) 70%,rgba(255,255,255,1) 70%) fixed;
}

.body-3{
    color: #fff;
    display: block;
    background: linear-gradient(111deg,rgba(127,73,145,1) 0,rgba(117,81,172,1) 17%,rgba(111,86,190,1) 35%,rgba(110,100,213,1) 50%,rgba(114,113,228,1) 70%,rgba(255,255,255,1) 70%) fixed;
}
header{
    display: flex;
    width: 95%;
    margin-top: 20px;
    margin-left: 20px;
	align-items: center;
    font-family: 'Poppins', sans-serif;
}

.heading-la{
    display: inline-flex;
    flex: 4;
    align-items: center;
}
.main-logo,.nav-links,.status{
    display: flex;
}


.main-logo{
    flex: 1;
}

.logo{
    margin-top: 15px;
    height: 55px;
    width: auto;
}

.logo-text{
    font-weight: 450;
    margin-top: 25px;
    cursor: pointer;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: beige;
    font-size: 15px;
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: underline;
}

.status{
    flex: 1;
	justify-content: flex-end;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
}

.introduction{
    flex:1;
}

.intro-text h1{
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.intro-text h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

table{
    background-color:white;
    border: none;
    height: 60px;
    border-radius: 5px;
    table-layout: fixed;
    width: 70%;
}

th {
    text-align: center;
    align-items: center;
}

.main-input{
    height: 40px;
    outline: none;
    border:none;
    width: 100%; 
    padding:10px;
}

.btn{
    display: inline-block;
    height: 45px;
    width: 90%;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.btn-1{
        background-image:linear-gradient(to right, #713af1 0%, #a15af1 40%,#c085f7 80%, #c097ee 100%);
}

.button-fin{
    display: inline-block;
    height: 45px;
    width: 40%;
    justify-content: space-around;
    border: none;
    color: white;
    background-color: rgb(82, 226, 82);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.button-mer{
    display: inline-block;
    height: 45px;
    width: 40%;
    justify-content: space-around;
    border: none;
    color: white;
    background-color: steelblue;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
    height: 70vh;
    margin-top: 5%;
}

.img-cover{
    width: 500px;
}

.mobile-icon{
    display: none;
}
@media screen and (max-width: 1220px) {
    .presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: left;
    }
    .cover{
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 1024px) {
    .heading-la{
        display: block;
    }
	.presentation {
		flex-direction: column;
	}
	.introduction {
		text-align: left;
    }
    .cover{
        margin-left: auto;
        margin-right: auto;
    }

    .cover img {
		height: 70%;
    }
    
    .intro-text h1{
        font-size: 200%;
        margin-top: 0px;
    }
    .intro-text h4{font-size: 100%;}

    table{
        width: 100%;
    }


    .nav-links
    {
        display: none;
    }
    .mobile-icon{
        display: block;
        color: #713af1;
        float: right;
    }

    .nav-links{
        float: left;
    }
    button{
        border: none;
    }

    .part1{
        display: none;
    }

}

.bg-modal{
    background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    font-family: 'Poppins', sans-serif;
    display: none;
}

.modal-content1{
    height: 350px;
	width: 750px;
	background-color: white;
	text-align: center;
    border-radius: 4px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.part1{
    flex: 1;
    background-color: #a15af1;
}

.part1 img{
    margin-top: 30%;
    height: 85%;
    width: 60%;
}

.part2{
    flex: 4;
    color: #a15af1;
}

.small-input{
    height: 40px;
    width: 40%;
    margin-left: 30px;
    outline: none;
    border: 1px solid rgb(204, 204, 204);
}

.big-input{
    height: 100px;
    margin-left: 30px;
    width: 86%;
    outline: none;  
    border: 1px solid rgb(204, 204, 204);
}

.part2 select{
    height: 30px;
    width: 40%;
    margin-left: 30px;
    outline: none;
}

.part2 div{
    margin-top: 20px;
}

.part2 h2{
    margin-top: 5px;
    font-weight: 400;
    font-size: 20px;
}


select{
    height: 40px;
    width: 200px;
}

.submit-btn{
    background-color: #a15af1 ;
    border: 2px solid white;
	border-radius: 10px;
	text-decoration: none;
	padding: 10px 28px;
    color: white;
    margin-top: 15px;
	display: inline-block;
}

.close {
    position: absolute;
	right: 10px;
	font-size: 35px;
	color: #333;
	transform: rotate(45deg);
    cursor: pointer;
}